@mixin flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin burger-position {
  position: fixed;
  top: 30px;
  right: 30px;
}

@mixin burger-line {
  content: "";
  width: 40px;
  height: 6px;
  background: #000;
  position: absolute;
}
